
h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  margin: 10px 12px;
}

.mat-elevation-z8 {
  display: grid;
  width: 100%;
  max-height: 100%;
}

.mat-form-field {
  font-size: 88%;
  width: 100%;
}

.table-header {
  padding-inline: 5vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 38vh;
}

.delButton {
  margin: 12px;
  padding: 4px 10px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #8f1b15;
  min-width: 200px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.delButton:hover {
  background-color: #e8312b;
  transform: scale(1.05);
}

