h1,h2,h3,h4,h5,h6 {
  margin: 8px 0;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  flex-direction: column;
  margin: 10px 12px;
}

.mat-elevation-z8 {
  display: grid;
  width: 100%;
  max-height: 100%;
}

.mat-form-field {
  font-size: 88%;
  width: 100%;
}

.table-header {
  padding-inline: 5vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 38vh;
}

.table-search {
  display: flex;
  flex-direction: row;
  padding-inline: 1vh;
  align-items: center;
}

.table-buttons {
  display: flex;
  padding-inline: 2vh;
  align-items: center;
  justify-content: space-between;
}

.table_column {
  font-size: 88%;
  text-align: center;
  padding-inline: 2px;
}

.table_column:nth-child(4) {
  font-size: 77%;
  text-align: justify;
  padding-inline: 1vh;
}

.btn-showAll, .btn-showPreference{
  font-size: 80%;
  margin: 1vh;
  width: 48vh;
}
