<!-- Footer -->
<footer>
  <div id="footer_container">
    <div class="footer_container_column">
      <h4 id="footer_logo_text"><img id="footer_logo" src="../../../assets/logo-lp.png" alt="Logo">Plataforma LP Notifier</h4>
      <p id="footer_frase">Dedicamos tiempo a perfeccionar nuestros productos para elevar la calidad de los servicios que brindamos a las personas.</p>

    </div>
    <div class="footer_container_column">
      <h4 id="footer_contact_text"><mat-icon id="footer_contact_logo">telefono</mat-icon> CONTACTO</h4>
      <ul>
        <li>Correo: lp-notifier-project@gmail.com</li>
        <li>Telefono: 01-8000-20-20</li>
      </ul>
    </div>
    <div class="footer_container_column">
      <h4 id="footer_follow_title">SIGUENOS</h4>
      <a id="footer_follow_text">Contactanos por redes sociales.</a>
      <ul id="footer_follow_list">
        <a class="footer_follow_links" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter"><i class="bi bi-twitter"></i></a>
        <a class="footer_follow_links" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube"><i class="bi bi-youtube"></i></a>
      </ul>
    </div>
  </div>

  <hr id="footer_hr"/>
  <div id="footer_signature">
    <h5 id="signature">&copy; <em id="date"></em>B&B Solutions. All rights reserved</h5>
  </div>

</footer>
