.content {
  display: flex;
  align-items: center;
  margin: 15px 12px;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 15px;
  border: 1vh #d1d1d1 solid;
  justify-content: space-around;
}
.container_title {
  margin: 2%;
  align-self: center;
  color: #00abec;
  opacity: 0.7;
  font-family: inherit;
  font-weight: 400;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 25%;
  min-width: 15%;
  margin: 5% 10%;
}

.form_container {
  display: flex;
  flex-direction: column;
  min-width: 58%;
  margin: 5% 4% 8%;
}

.form_login {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 6%;
}

.mat-form-field {
  margin: 4px 12px;
  max-width: 500px;
}

.btn {
  align-self: center;
  min-width: 180px;
  max-width: 60%;
}

.btn-primary {
  margin: 12px;
  color: mediumseagreen;
  min-width: 200px;
}

.btn-snd {
  color: #00abec;
  margin: 15px 12px;
  min-width: 200px;
}

.btn-trd {
  color: red;
  margin: 0 12px;
  min-width: 200px;
}

#fondo_login {
  width: 100%;
  margin: 20px 0;
  opacity: 0.9;
}
#load_bar{
  margin: 0 0 2px;
  background-color: deepskyblue;
}
#msg_bar{
  font-size: 12px;
  align-self: baseline;
}
#form_check_container{
  margin: 15px 5px;
}
