<!--Toolbar-->
<div class="toolbar" role="banner">
  <a *ngIf="!loginService.isLoggedIn()" aria-label="AppComponent" [routerLink]="'/'" title="Inicio">
    <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
  </a>
  <div *ngIf="loginService.getUserRole">
    <a *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'ADMIN'" aria-label="AppComponent" [routerLink]="'/admin'" title="Inicio">
      <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
    </a>
    <a *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'USER'" aria-label="AppComponent" [routerLink]="'/user'" title="Inicio">
      <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
    </a>
  </div>
  <span>Bienvenido a LP Notifier</span>
  <img id="icon-flag" src="../../../assets/flag-co.png" alt="">
  <div class="spacer"></div>
  <div class="toolbar_user">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" title="Menu">
      <mat-icon id="login-logo">reorder</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button *ngIf="!loginService.isLoggedIn()" mat-menu-item aria-label="User page" routerLink="/signup" >
        <mat-icon>person_add</mat-icon>
        <span>Registrarse</span>
      </button>
      <button *ngIf="!loginService.isLoggedIn()" mat-menu-item aria-label="User page" routerLink="/login" >
        <mat-icon>person</mat-icon>
        <span>Iniciar Sesión</span>
      </button>
      <button *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'ADMIN'" mat-menu-item aria-label="Admin profile" [routerLink]="['admin','profile']" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        <span>Perfil</span>
      </button>
      <button *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'USER'" mat-menu-item aria-label="User profile" [routerLink]="['user','profile']" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        <span>Perfil</span>
      </button>
      <button *ngIf="loginService.isLoggedIn()" mat-menu-item aria-label="User page" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</div>
