<!--Toolbar-->
<div class="toolbar" role="banner">
  <a *ngIf="!loginService.isLoggedIn()" aria-label="AppComponent" [routerLink]="'/'" title="Inicio">
    <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
  </a>
  <div *ngIf="loginService.getUserRole">
    <a *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'ADMIN'" aria-label="AppComponent" [routerLink]="'/admin'" title="Inicio">
      <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
    </a>
    <a *ngIf="loginService.isLoggedIn() && loginService.getUserRole() == 'USER'" aria-label="AppComponent" [routerLink]="'/user-dashboard'" title="Inicio">
      <img class="logo-principal" src="../../../assets/logo-lp.png" alt="">
    </a>
  </div>
  <span>
    Welcome to LP Notifier
  </span>
  <img id="icon-flag" src="../../../assets/flag-co.png" alt="">
  <div class="spacer"></div>
  <div class="toolbar_user">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" title="Menu">
      <mat-icon id="login-logo">reorder</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button *ngIf="!loginService.isLoggedIn()" mat-menu-item aria-label="User page" routerLink="/signup" >
        <mat-icon>person_add</mat-icon>
        <span>SignUp</span>
      </button>
      <button *ngIf="!loginService.isLoggedIn()" mat-menu-item aria-label="User page" routerLink="/login" >
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="loginService.isLoggedIn()" mat-menu-item aria-label="User page" routerLink="/admin/profile">
        <mat-icon>user</mat-icon>
        <span>Profile</span>
      </button>
      <button *ngIf="loginService.isLoggedIn()" mat-menu-item aria-label="User page" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
