<div class="content" role="main">
  <div class="container">
    <h1 class="container_title">Registrar nuevo Usuario</h1>
    <div class="container_panels">
      <div class="info_container">
        <img id="fondo_register" src="../../../../assets/fondo_register.png" alt="" />
        <p id="info_register">¡Bienvenido a nuestra aplicación! Regístrate ahora para desbloquear una amplia gama de beneficios exclusivos que te ofrecemos. Estamos emocionados de tenerte a bordo y esperamos que disfrutes de todo lo que nuestra aplicación tiene para ofrecer. ¡Comienza tu viaje con nosotros ahora!</p>
      </div>
      <div class="form_container">
        <form (ngSubmit)="formSubmit()" class="form_register" [formGroup]="userForm">
          <mat-form-field appearance="outline">
            <mat-label>Ingresa un nombre - (Minimo 6)</mat-label>
            <input matInput type="text" #inputName placeholder="Your name" formControlName="name" ngModel required/>
            <mat-hint align="end">{{inputName.value.length || 0}}/60</mat-hint>
            <mat-error *ngIf="userForm.invalid">{{getErrorNameMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingresa un usuario - (Minimo 6)</mat-label>
            <input matInput type="text" #inputUsername placeholder="Username" formControlName="username" ngModel required>
            <mat-hint align="end">{{inputUsername.value.length || 0}}/60</mat-hint>
            <mat-error *ngIf="userForm.invalid">{{getErrorUsernameMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingresa un correo</mat-label>
            <input matInput type="email" #inputEmail placeholder="correo@example.com" formControlName="email" ngModel required>
            <mat-error *ngIf="userForm.invalid">{{getErrorEmailMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ingresa una contraseña - (Minimo 8)</mat-label>
            <input matInput #inputPw [type]="hide ? 'password' : 'text'" formControlName="pw" ngModel required>
            <a mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-hint align="end">{{inputPw.value.length || 0}}/60</mat-hint>
            <mat-error *ngIf="userForm.get('pw')?.hasError('invalid_length')">
              La contraseña no debe superar los 60 caracteres.
            </mat-error>
            <mat-error *ngIf="userForm.invalid">{{getErrorPwMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmar la contraseña - (Minimo 8)</mat-label>
            <input matInput #inputPw2 [type]="hide2 ? 'password' : 'text'" formControlName="pw2" ngModel required>
            <a mat-icon-button matSuffix type="button" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-hint align="end">{{inputPw2.value.length || 0}}/60</mat-hint>
            <mat-error *ngIf="userForm.hasError('not_matching', 'pw2')">{{getErrorPwsMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>(Opcional) Telefono</mat-label>
            <input matInput #inputPhone placeholder="Phone number" formControlName="phone" [minLength]="6" [maxLength]="15" ngModel>
            <mat-hint align="end">{{inputPhone.value.length || 0}}/15</mat-hint>
          </mat-form-field>

          <button mat-raised-button class="btn btn-primary" [disabled]="userForm.invalid">Crea un usuario</button>
        </form>

        <button mat-raised-button type="submit" class="btn btn-snd" [routerLink]="'/login'" >Tengo un usuario</button>
      </div>
    </div>
    <mat-label id="msg_bar" *ngIf="progress_bar==true" >Cargando...</mat-label>
    <mat-progress-bar id="load_bar" *ngIf="progress_bar==true" mode="buffer"></mat-progress-bar>
  </div>
</div>
